<div class="container">
  <h2>Gestion d'etudiant</h2>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="list">Liste des etudiants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="add">Ajout d'etudiant</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="class">Liste des classes</a>
    </li>

  </ul>
  <router-outlet></router-outlet>
</div>